/** > 576px **/
@media (max-height: 52.5rem) {

	.profile {
		padding-top: .0625rem;
		background-position: center -3.125rem;

		&-specks {
			display: none;
		}
	}

}

@media (max-height: 41.25rem) {
	.dis-scroll {
		overflow: initial;
	}
}

/** > 380px **/
@media (max-width: 23.75rem) {
	.header {

		&-nav {
			padding-inline: 0;
		}
	}
}