/** > 576px **/
@media (max-height: 52.75rem) {

	.profile {
		padding-top: .0625rem;
		background-position: center -3.125rem;

		&-specks {
			display: none;
		}
	}

}

/** > 380px **/
@media (max-width: 23.75rem) {
	.header {

		&-nav {
			padding-inline: 0;
		}
	}
}