<header class="header">
  <div class="header-background">
    <div class="container">
      <nav class="header-nav js-nav-touch" title="header nav">
        <a href="#left" class="btn btn-puff btn-puff--icon header-nav-link">
          <span class="btn-puff-border btn-puff-border--outer"></span>
          <span class="btn-puff-border btn-puff-border--inner"></span>
          <span class="btn-puff-background">
            <span class="btn-puff-glow"></span>
            <span class="btn-puff-speck specks specks--blur js-create-specks" data-specks-create="10"></span>
          </span>
          <span class="btn-puff-content">
            <span class="icon btn-puff-icon">
              <span class="btn-puff-icon-blur"></span>
              <svg>
                <use xlink:href="img/icons/friends-default.svg#svg-friends-default"></use>
              </svg>
            </span>
            <span class="icon btn-puff-icon btn-puff-icon--active">
              <span class="btn-puff-icon-blur"></span>
              <span class="btn-puff-icon-blur"></span>
              <svg>
                <use xlink:href="img/icons/friends.svg#svg-friends"></use>
              </svg>
            </span>
          </span>
        </a>
        <span class="header-nav-gap"></span>
        <a href="#" class="btn btn-puff btn-puff--icon header-nav-link is-active">
          <span class="btn-puff-border btn-puff-border--outer"></span>
          <span class="btn-puff-border btn-puff-border--inner"></span>
          <span class="btn-puff-background">
            <span class="btn-puff-glow"></span>
            <span class="btn-puff-speck specks specks--blur js-create-specks" data-specks-create="10"></span>
          </span>
          <span class="btn-puff-content">
            <span class="icon btn-puff-icon">
              <span class="btn-puff-icon-blur"></span>
              <svg>
                <use xlink:href="img/icons/home-default.svg#svg-home-default"></use>
              </svg>
            </span>
            <span class="icon btn-puff-icon btn-puff-icon--active">
              <span class="btn-puff-icon-blur"></span>
              <span class="btn-puff-icon-blur"></span>
              <svg>
                <use xlink:href="img/icons/home.svg#svg-home"></use>
              </svg>
            </span>
          </span>
        </a>
        <span class="header-nav-gap"></span>
        <a href="#right" class="btn btn-puff btn-puff--icon header-nav-link">
          <span class="btn-puff-border btn-puff-border--outer"></span>
          <span class="btn-puff-border btn-puff-border--inner"></span>
          <span class="btn-puff-background">
            <span class="btn-puff-glow"></span>
            <span class="btn-puff-speck specks specks--blur js-create-specks" data-specks-create="10"></span>
          </span>
          <span class="btn-puff-content">
            <span class="icon btn-puff-icon">
              <span class="btn-puff-icon-blur"></span>
              <svg>
                <use xlink:href="img/icons/network-default.svg#svg-network-default"></use>
              </svg>
            </span>
            <span class="icon btn-puff-icon btn-puff-icon--active">
              <span class="btn-puff-icon-blur"></span>
              <span class="btn-puff-icon-blur"></span>
              <svg>
                <use xlink:href="img/icons/network.svg#svg-network"></use>
              </svg>
            </span>
          </span>
        </a>
      </nav>
    </div>
  </div>
</header>
